  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Quien soy ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

                    <!-- Vertically centered scrollable modal -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut adipisci cum corporis officia numquam minus odit recusandae iste laboriosam ratione! Quia harum nihil possimus veritatis, dolores magni provident alias ipsam.
            <br>
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos esse unde porro adipisci. Incidunt maxime dolor quaerat error, harum placeat rem, dolore velit magnam, facilis iure laboriosam ullam exercitationem voluptate?
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>